<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBook - Atualizar Publicação - {{ .Titulo }}</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />

    <style>
        .btn-bd-info {
            --bs-btn-color: var(--bs-white);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">

    {{ template "navbar" }}

    <main class="flex-fill">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-12">
                    <h3>Atualizar Publicação</h3>
                    <div class="mb-3">
                        <label for="titulo">Título</label>
                        <input type="text" class="form-control" name="titulo" id="titulo"
                            placeholder="Insira o titulo da sua publicação" value="{{ .Titulo }}">
                    </div>
                    <div class="mb-3">
                        <label for="conteudo">Conteúdo</label>
                        <textarea class="form-control" name="conteudo" id="conteudo"
                            placeholder="Insira o conteúdo da sua publicação">{{ .Conteudo }}</textarea>
                    </div>
                    <button id="atualizar-publicacao" class="btn btn-info btn-bd-info" data-puglicacao-id="{{ .ID }}">
                        Salvar Alterações
                    </button>
                    <button id="descartar-alteracoes" class="btn btn-danger">
                        Descartar Alterações
                    </button>
                </div>
            </div>
        </div>
    </main>

    {{ template "footer" }}
    {{ template "scripts" }}

    <script src="/assets/js/publicacoes.js"></script>

</body>

</html>